@import 'libs';
$FG-COLOR: #f6f6f6;
$BG-COLOR: rgba(51, 51, 51, 0.9);

html {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

html, body, .main-map {
  height: 100%;
}

.main-map {
  z-index: 1;
}

.main-menu {
  @include transition(top 400ms);
  position: absolute;
  top: -(32px*8);
  z-index: 2;
  margin: 0;
  padding: 0;
  list-style-type: none;

	html.no-touch &:hover,
	html.touch &.is-open {
		top: 0;
	}
}
.main-menu__item a {
  @include transition(background-color 250ms);
  display: block;
	padding: 5px 15px;
  background-color: $BG-COLOR;
  color: $FG-COLOR;
  text-decoration: none;

	html.no-touch &:hover,
	html.touch &:active {
		background-color: lighten($BG-COLOR, 20%);
	}
}
.main-menu__toggle a {
	border-bottom-right-radius: .5em;

	.main-menu.is-open & {
		background-color: rgba(195, 100, 100, 0.9);
	}
}
