@import 'libs';
$FG-COLOR: #f6f6f6;
$BG-COLOR: rgba(51, 51, 51, 0.9);
$Z-MAP: 1;
$Z-ABOVE-MAP: 2;

html {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

html, body, .main-map {
  height: 100%;
}

.main-map {
  z-index: $Z-MAP;
}

.main-menu {
  @include transition(top 300ms);
  position: absolute;
  top: -(32px*9);
  z-index: $Z-ABOVE-MAP;
  margin: 0;
  padding: 0;
  list-style-type: none;

	html.no-touch &:hover,
	html.touch &.is-open {
		top: 0;
	}
}
.main-menu__item a {
  @include transition(background-color 250ms);
  display: block;
	padding: 5px 15px;
  background-color: $BG-COLOR;
  color: $FG-COLOR;
  text-decoration: none;

	html.no-touch &:hover,
	html.touch &:active {
		background-color: lighten($BG-COLOR, 20%);
	}
}
.main-menu__toggle a {
	border-bottom-right-radius: .5em;

	.main-menu.is-open & {
		background-color: rgba(195, 100, 100, 0.9);
	}
}

$info-panel-height: 87px;
.info-panel {
	@include box-shadow(0px -2px 10px lighten($BG-COLOR, 10%));
	@include transition(bottom 300ms);
	position: absolute;
	bottom: -$info-panel-height;
	height: $info-panel-height;
	width: 100%;
	background-color: $BG-COLOR;
  color: $FG-COLOR;
	z-index: $Z-ABOVE-MAP;

	&.is-open {
		bottom: 0;
	}
}
.loc-infos {
	list-style-type: none;
	padding-left: 0;
	text-align: center;
}